<div class="row">
  <div class="col-md-12">
    <%= form_for(@book_review, :html => { class: "form-horizontal", role: "form"}) do |reviews_form| %>
    
      <%= reviews_form.hidden_field :book_id, value: @book.id %>
      
      <div class="form-group">
        <div class = "col-md-12">
          <%= reviews_form.label :rating, "Please select your rating for this book:" %>
        </div>
        <div class="dropdown col-md-3">
        <%= reviews_form.select :rating, options_for_select([["1. Poor", 1], ["2. Fair", 2], ["3. Good", 3], [ "4. Very Good", 4], [ "5. Excellent", 5]]), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class = "col-md-12">
          <%= reviews_form.label :content, 'Please enter your review text here:' %>
        </div>
        <div class="col-md-12">
          <%= reviews_form.text_area :content, rows: 7, class: "form-control", placeholder: "Enter your review here."  %>
        </div>
      <br>  
      <div class="form-group">
        <%= reviews_form.submit 'Submit your review', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>